@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-page: #FAFAFA;
    --bg-surface: #FFFFFF;
    --border: #EBEBEB;
    --text-primary: #0F0F0F;
    --text-secondary: #5C5C5C;
    --text-tertiary: #ADADAD;
    --brand: #22C55E;
  }
}
