VITE_API_URL=https://trackdeli-api-production.up.railway.app/api/v1
VITE_WS_URL=https://trackdeli-api-production.up.railway.app
VITE_MAPBOX_TOKEN=pk.eyJ1IjoiZWR3aW50b3JyZXMyMSIsImEiOiJjbXQ2bWwzYjkyMHRkMnlvaHY1ZnIwdGR3In0.yQ7e5NbovzVMQ4eeW9Pw3w
